 /* Typographie */
body { font-family: 'Courier New', Courier, monospace; }




/* Reset et Utiilitaires */
* { box-sizing: border-box; }
img { max-width: 100%; display: block; }




/* Mise en page */

/*Systeme de colonne*/
.row {
    display: flex;
    gap: 1rem;

}

main > * {   
    outline: 1px fuchsia;
    margin-bottom: 5rem;
}


.row > * { flex: 1; }

.row { display: flex;
    justify-content: center;
  }

/* Gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: flex-end;
}

.box {
    flex: 0 0 calc( (100%/3) - (2rem/3) );  /* Pour afficher 3 images par ligne */
    aspect-ratio: 1/1;
    gap: 1rem;
}

.box:hover {

    transform: scale(1.05);
    transition: 0.2s ease-in-out;


}

.gallery .title { flex: 0 0 100%;}


/* mise en page generale */
body {
    display: flex;
    gap: 1rem;
    margin: 0;
}

header { flex: 0 0 20rem;  }
  main { flex: 1 1 60%;  }


  /*mise en page header*/
  header{
    padding-left: 2rem;
  }
  #Logo{
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.top{
    position: fixed; top: 0;
    width: 18rem;
}


#TopNav { flex: 0 0 60%; }


#TopNav {

    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-around;
}
    
h3 {
    text-align: center;
    margin-bottom: 5rem;
    

}

h2 {
    margin-bottom: 5rem;
}

p {
font-size: small;}

.title{
    font-size: small;
}

.Texte_explicatif{


text-align: center;

}

/* design */
_header { background-color: #DDEEFF;}
nav { background-color: #EEF8FF;}
.box { background-color: #CCDDEE;}

.hero{
    aspect-ratio: 16/9;
    background-color: #468;
}


a{
     color: inherit;
    text-decoration: none;
}

a:hover{
    background-color: pink;
}

.largeurLecture{

    max-width: 40rem;
}
    
.footer{
    text-align: center;
    font-size: small;
}


/* Coloriage provisoire */
_* { 
    padding: 0,5rem;
    outline: 1px solid#F0F9;
    outline-offset: -0,25rem;
}

